* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

header {
    height: 85vh;
    background-color: #666/*#73747a*/
    ;
    margin-bottom: 3rem;
}

nav {
    padding: 2rem;
    margin: 0 3rem;
}

.logo {
    height: 3rem;
    position: relative;
    margin-right: 10rem;
    margin-left: 3.5rem;
    top: -3.7rem;
    padding-right: 20rem;
    margin-left: 5rem;
}

.nav-item {
    position: relative;
    left: 34rem;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    padding: 1rem;
    color: #fff;
}

.nav-item-active {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1.1rem;
    background-color: transparent;
    color: #ffff;
    margin-right: 2rem;
    padding: 0.7rem 1.2rem;
    border: 1px solid rgb(161, 161, 163);
    font-weight: 600;
}


/* =========================== */

.header-text {
    display: grid;
    float: right;
    width: 50%;
}

.header-text>h2 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 2rem;
    letter-spacing: 1px;
}

.header-text>p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    line-height: 2rem;
    padding-right: 5rem;
    margin-right: 12rem;
}

.header-image {
    position: relative;
    display: flex;
    float: left;
    /* top: -20rem; */
    /* width: 43%; */
}

.download-email {
    position: relative;
    /* left: 30rem; */
    margin-top: 2rem;
}

.download-email input {
    width: 25rem;
    background-color: rgb(223, 245, 252);
    font-size: 1rem;
    padding: 1.5rem 2rem 1.5rem 1rem;
    letter-spacing: 0px;
}

.download-email input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.download-email button {
    color: #fff;
    position: absolute;
    right: 20rem;
    background-color: rgb(135, 196, 135);
    padding: 1rem 3rem 1.1rem 3rem;
    font-size: 1rem;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    margin-right: 0.1rem;
}

.download-email>i {
    position: absolute;
    right: 30rem;
}

.header-image {
    position: relative;
    display: flex;
    float: left;
    top: 3rem;
    width: 40%;
}

.img>img {
    height: 50%;
    width: 30%;
    margin-left: 7rem;
}


/* ============================================ */

.heading {
    text-align: center;
    justify-content: center;
    margin: 3rem 0;
    font-size: 2.5rem;
}

.main h1 {
    color: black;
    font-weight: 700;
    /* font-size: 2rem; */
    font-size: sans-serif;
}

.num {
    display: flex;
    margin: 1rem 6rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.num h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.num p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.num1 {
    padding: 0 6rem;
}


/* -- */

.banner {
    margin: 3rem 4rem 5rem;
}

.banner>img {
    display: block;
    justify-content: center;
    /* text-align: center; */
    width: 100%;
    height: 40rem;
    /* margin-top: 5rem; */
}


/* ---play button */

.banner a {
    color: rgb(164, 201, 164);
}

.round-button {
    position: relative;
    left: 38rem;
    top: 24rem;
    box-sizing: border-box;
    display: block;
    width: 80px;
    height: 80px;
    padding-top: 14px;
    padding-left: 8px;
    line-height: 20px;
    border: 6px solid #fff;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}


/* third part */

.main-block {
    margin: 1rem 5rem;
}

.block1 {
    margin: 4rem 2rem 5rem;
    padding: 2rem 2rem 1rem;
    justify-content: center;
}

.block1 {
    display: grid;
    float: left;
    width: 50%;
}

.block1>h2 {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 2rem;
    letter-spacing: 1px;
}

.block1>p {
    color: black;
    font-size: 1rem;
    line-height: 2rem;
    padding-right: 5rem;
    margin-right: 12rem;
}

.block1 button {
    color: black;
    width: 10rem;
    background-color: rgb(135, 196, 135);
    padding: 1rem 3rem 1.1rem 3rem;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    margin-right: 0.1rem;
}

.block1-img1 {
    position: relative;
    /* display: flex; */
    float: right;
    right: 2rem;
    /* margin-right: 1rem; */
    width: 40%;
    margin-bottom: 5rem;
}

.block1-img1>img {
    width: 140%;
    height: 130%;
}


/* =BLOCK1 ENDED */


/*BLOCK2*/

.block2 {
    margin: 2rem 2rem 5rem;
    padding: 2rem 0rem 1rem;
    justify-content: center;
}

.block2 {
    display: grid;
    float: right;
    width: 40%;
    padding-left: 3rem;
}

.block2>h2 {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 1rem;
    letter-spacing: 1px;
}

.block2>p {
    color: black;
    font-size: 1rem;
    line-height: 2rem;
    padding-right: 4rem;
    margin-right: 0rem;
}

.block2 button {
    color: black;
    width: 10rem;
    background-color: rgb(135, 196, 135);
    padding: 1rem 3rem 1.1rem 3rem;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    margin-right: 0.1rem;
}

.block2-img {
    display: flex;
    float: left;
    margin-left: 4rem;
    width: 40%;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

.block2-img>img {
    width: 300%;
    height: 300%;
}


/* BLOCK 3 */

.block3 {
    margin: 2rem 2rem 5rem;
    padding: 2rem 2rem 1rem;
    justify-content: center;
}

.block3 {
    display: grid;
    float: left;
    width: 50%;
}

.block3>h2 {
    font-size: 2.5rem;
    color: black;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 2rem;
    letter-spacing: 1px;
}

.block3>p {
    color: black;
    font-size: 1rem;
    line-height: 2rem;
    padding-right: 5rem;
    margin-right: 12rem;
}

.block3 button {
    color: black;
    width: 10rem;
    background-color: rgb(135, 196, 135);
    padding: 1rem 3rem 1.1rem 3rem;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    margin-right: 0.1rem;
}

.block3-img {
    position: relative;
    display: flex;
    float: right;
    right: 2rem;
    /* margin-right: 1rem; */
    width: 40%;
    /* margin-left: 1rem; */
}

.block3-img>img {
    width: 95%;
    height: 130%;
    margin-top: -1rem;
}


/* ================================= */

.teams-section {
    margin: 5rem 5rem 0rem;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 15rem;
    padding: 3rem;
    padding-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.teams-section>div {
    padding: 1rem;
    padding-right: 0rem;
    padding-top: 8rem;
    background-color: rgba(255, 255, 255, 0.8);
    /* line-height: 3rem; */
}

.teams-section>div>h1 {
    font-size: 3rem;
    color: black;
    line-height: 3rem;
}

.teams-section>div>p {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.8rem;
    margin-left: -3rem;
}


/* ============= cards ============*/

.cards {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    /* gap: 3rem; */
    padding: 0 5rem;
    margin: 0 4rem 3rem;
    /* justify-content: space-between; */
    gap: 8rem;
}

.card>img {
    width: 130%;
    height: 75%;
    margin-bottom: 1rem;
}

.card>h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
}

.card>p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    padding-right: 1rem;
}

.last-btn {
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

.last-btn>button {
    /* justify-content: center;
    text-align: center; */
    padding: 1rem 3rem;
    background-color: rgb(124, 177, 124);
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
}

.last-btn>button:hover {
    border: yellowgreen;
    box-shadow: 1px 1px 15px 1px rgb(255, 255, 101);
    cursor: pointer;
    color: rgb(92, 43, 226);
}


/* ============FOOTER SECTION-=============== */

.content {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 2rem 5rem 1rem 7rem;
    /* padding-bottom: 10rem; */
}

.top {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #fff;
}

.logo-last>img {
    height: 2.5rem;
}

.media-icons {
    display: flex;
    float: right;
    position: relative;
    left: 49rem;
}

.fab {
    padding: 11px;
    font-size: 1.3rem;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    margin-top: 0rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(255, 255, 255, 0.3);
}


/* -------------------------------- */

.link-boxes {
    /* display: flex;
    float: left; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 3rem 0;
}

.box {
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

.box li {
    padding-bottom: 2rem;
}

.box li>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link_name {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}


/* --------==============-------- */


/* @media only screen and (max-device-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header,
    nav>a {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        padding-bottom: 2rem;
    }
    .nav-item {
        width: fit-content;
        position: relative;
        left: 6rem;
    }
    .header-text {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .header-text>p {
        width: 300px;
        text-align: center;
    }
    .download-email button {
        right: 9rem;
        width: fit-content;
        padding: 1px;
        top: 2.4rem;
    }
    .download-email input {
        width: fit-content;
    }
    .header-image,
    .img>img {
        top: 1rem;
        left: -2rem;
        width: 45%;
        margin-left: 3rem;
    }
    /*  
    .num1 {
        padding: 0 0.5rem;
    }

    .banner>img,
    .banner {
        width: 96%;
        height: 50%;
        margin: 0.5rem;
        margin-bottom: 2rem;
    }
    .round-button {
        left: 8rem;
        top: 10rem;
    }
    /*  
    .main-block {
        margin: 0 0.1rem 0 -1rem;
    }
    .block1,
    .block2,
    .block3 {
        display: block;
    }
    .block1>p,
    .block2>p,
    .block3>p {
        width: 300px;
    }
    .block1-img1,
    .block2-img {
        float: left;
        left: 4rem;
        top: -2rem;
        width: 15rem;
    }
    .block1-img1 {
        width: fit-content;
    }
    /*
    .block1-img1>img {
        width: 25rem;
        height: 13rem;
        margin-bottom: 2rem;
    }
    /*  
    .block2-img {
        position: absolute;
        left: 1rem;
        top: 10rem;
    } */


/* }  */


/* ==================== */

@media (max-width: 700px) {
    header,
    .header-image {
        /* height: fit-content; */
        padding: 0rem;
        width: fit-content;
        display: block;
        top: 0;
    }
    .img,
    .img>img,
    .header-image {
        position: absolute;
        display: hidden;
    }
    .logo {
        height: 2rem;
        top: -5rem;
        margin-left: 2rem;
    }
    .header-text {
        padding: 0 2rem;
        display: block;
        width: fit-content;
        height: fit-content;
        font-size: 1rem;
        margin-top: -2rem;
    }
    .header-text>h2 {
        font-size: 2rem;
    }
    .header-text>p {
        font-size: 1rem;
    }
    .download-email input {
        width: 15rem;
    }
    .download-email input,
    .download-email button {
        /* width: fit-content; */
        padding: 1rem;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .download-email button {
        margin-top: 0.2rem;
        right: 10rem;
    }
    .nav-item {
        display: hidden;
    }
    .num {
        display: block;
    }
    .block1,
    .block2,
    .block3 {
        margin: 1rem;
        padding: 1rem;
        /* justify-content: center; */
        width: fit-content;
    }
    .block1-img1,
    .block2-img,
    .block3-img {
        display: block;
        width: fit-content;
    }
    .block3-img {
        margin-bottom: 5rem;
    }
    .teams-section {
        display: block;
        width: fit-content;
    }
    .teams-section>div>p {
        margin-top: 0;
    }
    .cards {
        display: block;
    }
    .content {
        padding: 1rem;
    }
    .top {
        display: block;
    }
    .media-icons {
        left: 5rem;
        top: -2.5rem;
    }
    .link-boxes {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}